<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>http://localhost/CRMBlazorServerRBS</SiteUrlToLaunchAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <SelfContained>false</SelfContained>
        <MSDeployServiceURL>localhost</MSDeployServiceURL>
        <DeployIisAppPath>Default Web Site/CRMBlazorServerRBS</DeployIisAppPath>
        <RemoteSitePhysicalPath />
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>false</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName></UserName>
        <Password></Password>
    </PropertyGroup>
    <ItemGroup>
        <DestinationConnectionStrings Include="RadzenCRMConnection">
            <Value>Server=localhost;Connection Timeout=30;Command Timeout=30;Persist Security Info=False;TrustServerCertificate=True;Integrated Security=True;Initial Catalog=RadzenCRM</Value>
        </DestinationConnectionStrings>
    </ItemGroup>
</Project>